<a href="https://colab.research.google.com/github/konrad-l/data_science_bootcamp/blob/main/01_wprowadzenie/04_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pip install pandas
# ewentualna instalacja biblioteki pandas

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

**Podstawowe struktury danych: pd.Series**

In [ ]:
s = pd.Series(data = [3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s = pd.Series(data = [3, 2, 4, 6], index = ["a", "b", "c", "d"])
s

a    3
b    2
c    4
d    6
dtype: int64

In [ ]:
s = pd.Series(data = [3, 2, 4, 6], index = ["a", "b", "c", "d"], name ="sample")
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data = [3., 2, 4, 6], index = ["a", "b", "c", "d"], name ="sample")
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
import numpy as np

# np.nan - wypełnienie jako brak danych w tabelach

In [ ]:
s = pd.Series(data = [3., np.nan, 4, 6], index = ["a", "b", "c", "d"], name ="sample")
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data = [True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data = np.arange(10, 20), index = pd.date_range(start = "20200101", periods = 10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.dtypes

dtype('int64')

In [ ]:
s.shape

(10,)

In [ ]:
s = pd.Series(data=["python", "java", "sql"], name = "languages")
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [ ]:
s.dtypes
# dane typu Object, jeśli tekst

dtype('int64')

In [ ]:
s.shape

(3,)

In [ ]:
price = pd.Series(data = {"Apple": 200, "CD Project": 60, "Amazon": 1900})
price

Apple          200
CD Project      60
Amazon        1900
dtype: int64

In [ ]:
price["CD Project"]

60

In [ ]:
price[1]

60

In [ ]:
price.count()
# zlicza ile mamy elementów w obiekcie Series

3

In [ ]:
price.value_counts()
# zlicza ile wystąpiły poszczególne wyrazy

200     1
60      1
1900    1
dtype: int64

In [ ]:
price.sum()
# zsumuje wartości w obiekcie Series

2160

In [ ]:
price.min()

60

In [ ]:
price.max()

1900

In [ ]:
price.std()

1024.3046421841502

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:

price = pd.Series(data = {"Apple": 200, "CD Project": 60, "Amazon": 1900, "KGHM": np.nan})
price
# dodano spółkę KGHM i przypisano jej poprzez numpy wartość "NaN", co powoduje że jest niewidocza do obliczeń

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.count()
# zlicza ile mamy elementów w obiekcie Series

3

In [ ]:
price.value_counts()
# zlicza ile wystąpiły poszczególne wyrazy

200.0     1
60.0      1
1900.0    1
dtype: int64

In [ ]:
price.value_counts(dropna=False)
# zlicza ile wystąpiły poszczególne wyrazy

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.nlargest()
# największe wartości

Amazon        1900.0
Apple          200.0
CD Project      60.0
dtype: float64

In [ ]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [ ]:
price.nsmallest()

CD Project      60.0
Apple          200.0
Amazon        1900.0
dtype: float64

In [ ]:
price.nsmallest(2)

CD Project     60.0
Apple         200.0
dtype: float64

In [ ]:
price.rank()
# ranking dla wartości

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values()
# sortowanie wartości

CD Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)
# ascending wpływa na kolejność posortowania

Amazon        1900.0
Apple          200.0
CD Project      60.0
KGHM             NaN
dtype: float64

In [ ]:
price.apply(lambda x: x * 3.8)

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x: x * 3.8)

In [ ]:
price_pln

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

**Podstawowe struktury danych: pd.DataFrame**

In [ ]:
df = pd.DataFrame(data = [12, 12, 32])
df

    0
0  12
1  12
2  32

In [ ]:
df = pd.DataFrame(data = [12, 12, 32], index = ["first", "second", "third"], columns=["col_1"])
df

        col_1
first      12
second     12
third      32

In [ ]:
df = pd.DataFrame(data={"WID20":["PKN Orlen", "PKO BP"],
                        "mWIG40": ["Amica", "Playway"]})
df
# wrzucanie dany poprzez słowniki

       WID20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [ ]:
df = pd.DataFrame(data = [[12, 12, 32], [12, 12, 32]], index = ["first", "second"], columns=["col_1", "col_2", "col_3"])
df

        col_1  col_2  col_3
first      12     12     32
second     12     12     32

In [ ]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.index

Index(['first', 'second'], dtype='object')

In [ ]:
df.values
# atrybut
# artybut typu "numpy"

array([[12, 12, 32],
       [12, 12, 32]])

In [ ]:
df.info()
# funkcja
# podaje, że mamy 2 wartości niezerowe, nie ma wartości brakującyh, 
# oraz że format danych podano, jako int64

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [ ]:
df.describe()

       col_1  col_2  col_3
count    2.0    2.0    2.0
mean    12.0   12.0   32.0
std      0.0    0.0    0.0
min     12.0   12.0   32.0
25%     12.0   12.0   32.0
50%     12.0   12.0   32.0
75%     12.0   12.0   32.0
max     12.0   12.0   32.0

In [ ]:
df.describe().T

       count  mean  std   min   25%   50%   75%   max
col_1    2.0  12.0  0.0  12.0  12.0  12.0  12.0  12.0
col_2    2.0  12.0  0.0  12.0  12.0  12.0  12.0  12.0
col_3    2.0  32.0  0.0  32.0  32.0  32.0  32.0  32.0

**Selekcja kolumn**

In [ ]:
df

        col_1  col_2  col_3
first      12     12     32
second     12     12     32

In [ ]:
df["col_1"]
# wyciągnięcie kolumny z DataFrame - ale w postaci danej Series

first     12
second    12
Name: col_1, dtype: int64

In [ ]:
df.col_1

first     12
second    12
Name: col_1, dtype: int64

In [ ]:
type(df["col_1"])

pandas.core.series.Series

In [ ]:
# wyciecie kolumny z DataFrame
df[["col_1"]]

        col_1
first      12
second     12

In [ ]:
type(df[["col_1"]])

pandas.core.frame.DataFrame

In [ ]:
df.columns
# columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.columns = ["a", "b", "c"]
df

         a   b   c
first   12  12  32
second  12  12  32

In [ ]:
df.a

first     12
second    12
Name: a, dtype: int64

In [ ]:
df.columns = ["a", "sprzedaz_grudzien", "c"]
df

         a  sprzedaz_grudzien   c
first   12                 12  32
second  12                 12  32

In [ ]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [ ]:
df["d"] = df.a + df.c
df
# przypisywanie nowej kolumny "d" poprzez sumę kolumny "a" i "c"

         a  sprzedaz_grudzien   c   d
first   12                 12  32  44
second  12                 12  32  44

In [ ]:
df = pd.DataFrame(data = [[12, 12, 32], [12, 12, 32]], index = ["first", "second"], columns=["col_1", "col_2", "col_3"])
df

        col_1  col_2  col_3
first      12     12     32
second     12     12     32

Wycinanie po indeksach/ wierszach

In [ ]:
df.loc["first"]
# metoda do wycinania danych po nazwie

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.iloc[0]
# metoda do wycinania danych po indeksach

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.loc["first", "col_2"]

12

In [ ]:
df.loc[:, "col_2"]

first     12
second    12
Name: col_2, dtype: int64

In [ ]:
df.iloc[0, 1]

12