<a href="https://colab.research.google.com/github/konrad-l/data_science_bootcamp/blob/main/02_analiza_danych/03_CSV_Excel_London.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import bibliotek

In [ ]:
import numpy as np
import pandas as pd

Załadowanie danych

In [ ]:
def fetch_financial_data(company = "AMZN"):
  """Pobiera dane dotyczące notować spółek na giełdzie 
  wg symboli na serwisie stooq.pl"""
  import pandas_datareader.data as web
  # importowanie biblioteki datareader do odczytu i pobrania danych
  return web.DataReader(name=company, data_source="stooq")

df = fetch_financial_data("FB")
df.head()

              Open     High     Low   Close    Volume
Date
2022-04-01  224.55  227.280  222.70  224.85  19544758
2022-03-31  228.45  228.490  222.26  222.36  24192266
2022-03-30  228.91  231.151  226.71  227.85  25588046
2022-03-29  226.07  230.890  225.29  229.86  31417857
2022-03-28  222.13  224.040  219.54  223.59  26224141

**Zapis/ odczyt danych z pliku CSV**

In [ ]:
# zapisujemy wszystkie dane
df.to_csv("fb.csv")

In [ ]:
# wytniemy dane dot. notowań z listopada z danego roku
df_nov = df[(df.index.month == 11) & (df.index.year == 2019)]
df_nov

               Open     High      Low   Close    Volume
Date
2019-11-29  201.600  203.800  201.210  201.64   7985231
2019-11-27  199.900  203.140  199.420  202.00  12729462
2019-11-26  200.000  200.150  198.039  198.97  11748664
2019-11-25  199.515  200.970  199.250  199.79  15286442
2019-11-22  198.380  199.300  197.620  198.82   9959817
2019-11-21  197.420  199.090  196.860  197.93  12130985
2019-11-20  198.580  199.590  195.430  197.51  12370240
2019-11-19  197.400  200.000  196.860  199.32  19070291
2019-11-18  194.560  198.630  193.050  197.40  16176107
2019-11-15  194.260  195.300  193.380  195.10  11530232
2019-11-14  192.930  194.030  191.450  193.15   9059897
2019-11-13  194.700  195.700  192.740  193.19  11009800
2019-11-12  190.000  195.060  189.740  194.47  17615454
2019-11-11  189.930  190.080  188.540  189.61   8637768
2019-11-08  190.000  192.340  189.700  190.84  10764784
2019-11-07  191.910  193.440  189.470  190.42  13472998
2019-11-06  194.030  194.370  191.350  191.55  10973019
2019-11-05  195.370  195.750  193.600  194.32   9941954
2019-11-04  194.550  197.367  193.812  194.72  16371292
2019-11-01  192.850  194.110  189.910  193.62  21711829

In [ ]:
df_nov.to_csv("fb_nov.csv")

In [ ]:
# wczytywanie danych z csv
new_df = pd.read_csv("fb_nov.csv")
new_df

          Date     Open     High      Low   Close    Volume
0   2019-11-29  201.600  203.800  201.210  201.64   7985231
1   2019-11-27  199.900  203.140  199.420  202.00  12729462
2   2019-11-26  200.000  200.150  198.039  198.97  11748664
3   2019-11-25  199.515  200.970  199.250  199.79  15286442
4   2019-11-22  198.380  199.300  197.620  198.82   9959817
5   2019-11-21  197.420  199.090  196.860  197.93  12130985
6   2019-11-20  198.580  199.590  195.430  197.51  12370240
7   2019-11-19  197.400  200.000  196.860  199.32  19070291
8   2019-11-18  194.560  198.630  193.050  197.40  16176107
9   2019-11-15  194.260  195.300  193.380  195.10  11530232
10  2019-11-14  192.930  194.030  191.450  193.15   9059897
11  2019-11-13  194.700  195.700  192.740  193.19  11009800
12  2019-11-12  190.000  195.060  189.740  194.47  17615454
13  2019-11-11  189.930  190.080  188.540  189.61   8637768
14  2019-11-08  190.000  192.340  189.700  190.84  10764784
15  2019-11-07  191.910  193.440  189.470  190.42  13472998
16  2019-11-06  194.030  194.370  191.350  191.55  10973019
17  2019-11-05  195.370  195.750  193.600  194.32   9941954
18  2019-11-04  194.550  197.367  193.812  194.72  16371292
19  2019-11-01  192.850  194.110  189.910  193.62  21711829

In [ ]:
df_nov.to_excel("fb_nov.xlsx")

In [ ]:
new_df = pd.read_excel("fb_nov.xlsx")
new_df

         Date     Open     High      Low   Close    Volume
0  2019-11-29  201.600  203.800  201.210  201.64   7985231
1  2019-11-27  199.900  203.140  199.420  202.00  12729462
2  2019-11-26  200.000  200.150  198.039  198.97  11748664
3  2019-11-25  199.515  200.970  199.250  199.79  15286442
4  2019-11-22  198.380  199.300  197.620  198.82   9959817
5  2019-11-21  197.420  199.090  196.860  197.93  12130985
6  2019-11-20  198.580  199.590  195.430  197.51  12370240
7  2019-11-19  197.400  200.000  196.860  199.32  19070291
8  2019-11-18  194.560  198.630  193.050  197.40  16176107
9  2019-11-15  194.260  195.300  193.380  195.10  11530232
10 2019-11-14  192.930  194.030  191.450  193.15   9059897
11 2019-11-13  194.700  195.700  192.740  193.19  11009800
12 2019-11-12  190.000  195.060  189.740  194.47  17615454
13 2019-11-11  189.930  190.080  188.540  189.61   8637768
14 2019-11-08  190.000  192.340  189.700  190.84  10764784
15 2019-11-07  191.910  193.440  189.470  190.42  13472998
16 2019-11-06  194.030  194.370  191.350  191.55  10973019
17 2019-11-05  195.370  195.750  193.600  194.32   9941954
18 2019-11-04  194.550  197.367  193.812  194.72  16371292
19 2019-11-01  192.850  194.110  189.910  193.62  21711829

In [ ]:
# dodaliśmy informację, żeby columna 0 była od razu indeksem
new_df = pd.read_excel("fb_nov.xlsx", index_col=0)
new_df

               Open     High      Low   Close    Volume
Date
2019-11-29  201.600  203.800  201.210  201.64   7985231
2019-11-27  199.900  203.140  199.420  202.00  12729462
2019-11-26  200.000  200.150  198.039  198.97  11748664
2019-11-25  199.515  200.970  199.250  199.79  15286442
2019-11-22  198.380  199.300  197.620  198.82   9959817
2019-11-21  197.420  199.090  196.860  197.93  12130985
2019-11-20  198.580  199.590  195.430  197.51  12370240
2019-11-19  197.400  200.000  196.860  199.32  19070291
2019-11-18  194.560  198.630  193.050  197.40  16176107
2019-11-15  194.260  195.300  193.380  195.10  11530232
2019-11-14  192.930  194.030  191.450  193.15   9059897
2019-11-13  194.700  195.700  192.740  193.19  11009800
2019-11-12  190.000  195.060  189.740  194.47  17615454
2019-11-11  189.930  190.080  188.540  189.61   8637768
2019-11-08  190.000  192.340  189.700  190.84  10764784
2019-11-07  191.910  193.440  189.470  190.42  13472998
2019-11-06  194.030  194.370  191.350  191.55  10973019
2019-11-05  195.370  195.750  193.600  194.32   9941954
2019-11-04  194.550  197.367  193.812  194.72  16371292
2019-11-01  192.850  194.110  189.910  193.62  21711829

**London Bike Dataset**

In [ ]:
df = pd.read_csv("london-bike.csv")
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [ ]:
df = df.set_index("timestamp")
df.head()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [ ]:
df = pd.read_csv("london-bike.csv", index_col=0)
df
# alternatywna metoda ustawiania pierwszej kolumny jako indeks to:
# df = df.set_index("timestamp")
# df.head()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...
2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17414 entries, 2015-01-04 00:00:00 to 2017-01-03 23:00:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cnt           17414 non-null  int64
 1   t1            17414 non-null  float64
 2   t2            17414 non-null  float64
 3   hum           17414 non-null  float64
 4   wind_speed    17414 non-null  float64
 5   weather_code  17414 non-null  float64
 6   is_holiday    17414 non-null  float64
 7   is_weekend    17414 non-null  float64
 8   season        17414 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3+ MB