<a href="https://colab.research.google.com/github/konrad-l/data_science_bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
def fetch_financial_data(company = "AMZN"):
  """Pobiera dane dotyczące notować spółek na giełdzie 
  wg symboli na serwisie stooq.pl"""
  import pandas_datareader.data as web
  # importowanie biblioteki datareader do odczytu i pobrania danych
  return web.DataReader(name=company, data_source="stooq")

apple = fetch_financial_data("AAPL")
amazon = fetch_financial_data("AMZN")
google = fetch_financial_data("GOOGL")
uber = fetch_financial_data("UBER")

In [ ]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2022-04-01 to 2017-04-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1259 non-null   float64
 1   High    1259 non-null   float64
 2   Low     1259 non-null   float64
 3   Close   1259 non-null   float64
 4   Volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [ ]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 731 entries, 2022-04-01 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    731 non-null    float64
 1   High    731 non-null    float64
 2   Low     731 non-null    float64
 3   Close   731 non-null    float64
 4   Volume  731 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 34.3 KB

In [ ]:
apple.head()

              Open    High     Low   Close     Volume
Date
2022-04-01  174.03  174.88  171.94  174.31   78751328
2022-03-31  177.84  178.03  174.40  174.61  103049285
2022-03-30  178.55  179.61  176.70  177.77   92633154
2022-03-29  176.69  179.01  176.34  178.96  100589440
2022-03-28  172.17  175.73  172.00  175.60   90371916

In [ ]:
apple.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume'], dtype='object')

**Preprocessing**

In [ ]:
apple.columns = ["apple_" + col.lower() for col in apple.columns]
amazon.columns = ["amazon_" + col.lower() for col in amazon.columns]
google.columns = ["google_" + col.lower() for col in google.columns]
uber.columns = ["uber_" + col.lower() for col in uber.columns]

In [ ]:
amazon.head()

            amazon_open  amazon_high  amazon_low  amazon_close  amazon_volume
Date
2022-04-01     3282.990      3316.54     3246.39       3271.20        2854475
2022-03-31     3328.895      3329.90     3259.07       3259.95        2998289
2022-03-30     3370.190      3379.01     3310.00       3326.02        2808363
2022-03-29     3407.680      3416.63     3357.37       3386.30        3307680
2022-03-28     3299.500      3380.75     3298.00       3379.81        2992691

**Konkatenacja danych**

In [ ]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [ ]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,731.000000,731.000000,731.000000,731.000000,7.310000e+02
mean,80.249670,81.153723,79.385681,80.314354,1.231368e+08,2200.624682,2224.355530,2173.979667,2199.502200,4.300742e+06,1537.477682,1552.762357,1521.893075,1537.897693,1.757427e+06,40.127371,40.922596,39.225907,40.071163,2.474013e+07
std,44.732946,45.288222,44.183415,44.768043,5.685619e+07,856.904670,867.413201,845.421636,855.780968,2.059806e+06,627.018036,632.561860,620.148227,626.420482,8.136954e+05,9.171041,9.230843,9.047277,9.113366,1.687887e+07
min,33.334000,33.491000,33.059000,33.206000,4.105218e+07,887.500000,894.970000,884.490000,884.670000,8.813370e+05,838.460000,843.720000,834.600000,839.880000,4.656380e+05,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,42.331500,42.655500,42.014500,42.350000,8.576337e+07,1606.245000,1624.365000,1591.445000,1607.975000,2.912250e+06,1089.770000,1104.045000,1076.155000,1090.660000,1.251124e+06,32.785000,33.460000,32.050000,32.810000,1.425195e+07
50%,55.392000,55.942000,54.917000,55.333000,1.079046e+08,1885.800000,1901.400000,1865.000000,1884.580000,3.704305e+06,1237.000000,1245.900000,1224.940000,1234.970000,1.545534e+06,38.880000,39.670000,37.750000,38.490000,2.079540e+07
75%,123.025000,124.280000,121.385000,123.125000,1.439221e+08,3162.635100,3195.383250,3121.395050,3159.120000,5.094664e+06,1773.185000,1795.675000,1758.517500,1774.570000,2.001210e+06,46.535000,47.465000,45.815000,46.405000,3.018425e+07
max,182.400000,182.710000,178.890000,181.780000,4.327508e+08,3744.000000,3773.078200,3696.792900,3731.410000,1.655260e+07,3025.000000,3030.931500,2977.980000,2996.770000,6.658855e+06,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1259.0,8.024967e+01,4.473295e+01,3.333400e+01,4.233150e+01,5.539200e+01,1.230250e+02,1.824000e+02
apple_high,1259.0,8.115372e+01,4.528822e+01,3.349100e+01,4.265550e+01,5.594200e+01,1.242800e+02,1.827100e+02
apple_low,1259.0,7.938568e+01,4.418341e+01,3.305900e+01,4.201450e+01,5.491700e+01,1.213850e+02,1.788900e+02
apple_close,1259.0,8.031435e+01,4.476804e+01,3.320600e+01,4.235000e+01,5.533300e+01,1.231250e+02,1.817800e+02
apple_volume,1259.0,1.231368e+08,5.685619e+07,4.105218e+07,8.576337e+07,1.079046e+08,1.439221e+08,4.327508e+08
amazon_open,1259.0,2.200625e+03,8.569047e+02,8.875000e+02,1.606245e+03,1.885800e+03,3.162635e+03,3.744000e+03
amazon_high,1259.0,2.224356e+03,8.674132e+02,8.949700e+02,1.624365e+03,1.901400e+03,3.195383e+03,3.773078e+03
amazon_low,1259.0,2.173980e+03,8.454216e+02,8.844900e+02,1.591445e+03,1.865000e+03,3.121395e+03,3.696793e+03
amazon_close,1259.0,2.199502e+03,8.557810e+02,8.846700e+02,1.607975e+03,1.884580e+03,3.159120e+03,3.731410e+03
amazon_volume,1259.0,4.300742e+06,2.059806e+06,8.813370e+05,2.912250e+06,3.704305e+06,5.094664e+06,1.655260e+07
google_open,1259.0,1.537478e+03,6.270180e+02,8.384600e+02,1.089770e+03,1.237000e+03,1.773185e+03,3.025000e+03
google_high,1259.0,1.552762e+03,6.325619e+02,8.437200e+02,1.104045e+03,1.245900e+03,1.795675e+03,3.030932e+03
google_low,1259.0,1.521893e+03,6.201482e+02,8.346000e+02,1.076155e+03,1.224940e+03,1.758517e+03,2.977980e+03
google_close,1259.0,1.537898e+03,6.264205e+02,8.398800e+02,1.090660e+03,1.234970e+03,1.774570e+03,2.996770e+03
google_volume,1259.0,1.757427e+06,8.136954e+05,4.656380e+05,1.251124e+06,1.545534e+06,2.001210e+06,6.658855e+06
uber_open,731.0,4.012737e+01,9.171041e+00,1.596000e+01,3.278500e+01,3.888000e+01,4.653500e+01,6.325000e+01
uber_high,731.0,4.092260e+01,9.230843e+00,1.780000e+01,3.346000e+01,3.967000e+01,4.746500e+01,6.405000e+01
uber_low,731.0,3.922591e+01,9.047277e+00,1.371000e+01,3.205000e+01,3.775000e+01,4.581500e+01,6.080000e+01
uber_close,731.0,4.007116e+01,9.113366e+00,1.482000e+01,3.281000e+01,3.849000e+01,4.640500e+01,6.318000e+01
uber_volume,731.0,2.474013e+07,1.687887e+07,3.380003e+06,1.425195e+07,2.079540e+07,3.018425e+07,1.863225e+08

In [ ]:
pd.set_option("display.float_format", lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1259.00,80.25,44.73,33.33,42.33,55.39,123.03,182.40
apple_high,1259.00,81.15,45.29,33.49,42.66,55.94,124.28,182.71
apple_low,1259.00,79.39,44.18,33.06,42.01,54.92,121.38,178.89
apple_close,1259.00,80.31,44.77,33.21,42.35,55.33,123.12,181.78
apple_volume,1259.00,123136798.42,56856193.87,41052185.00,85763371.00,107904627.00,143922106.50,432750794.00
amazon_open,1259.00,2200.62,856.90,887.50,1606.24,1885.80,3162.64,3744.00
amazon_high,1259.00,2224.36,867.41,894.97,1624.37,1901.40,3195.38,3773.08
amazon_low,1259.00,2173.98,845.42,884.49,1591.45,1865.00,3121.40,3696.79
amazon_close,1259.00,2199.50,855.78,884.67,1607.97,1884.58,3159.12,3731.41
amazon_volume,1259.00,4300741.71,2059805.84,881337.00,2912249.50,3704305.00,5094664.50,16552598.00
google_open,1259.00,1537.48,627.02,838.46,1089.77,1237.00,1773.18,3025.00
google_high,1259.00,1552.76,632.56,843.72,1104.05,1245.90,1795.67,3030.93
google_low,1259.00,1521.89,620.15,834.60,1076.16,1224.94,1758.52,2977.98
google_close,1259.00,1537.90,626.42,839.88,1090.66,1234.97,1774.57,2996.77
google_volume,1259.00,1757427.01,813695.39,465638.00,1251124.00,1545534.00,2001210.00,6658855.00
uber_open,731.00,40.13,9.17,15.96,32.78,38.88,46.53,63.25
uber_high,731.00,40.92,9.23,17.80,33.46,39.67,47.47,64.05
uber_low,731.00,39.23,9.05,13.71,32.05,37.75,45.81,60.80
uber_close,731.00,40.07,9.11,14.82,32.81,38.49,46.41,63.18
uber_volume,731.00,24740134.53,16878865.49,3380003.00,14251946.50,20795402.00,30184245.50,186322536.00

In [ ]:
# korelacja poszczególnych zmiennych
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.22,0.93,0.93,0.93,0.93,-0.19,0.95,0.95,0.95,0.95,-0.09,0.42,0.43,0.42,0.42,0.08
apple_high,1.00,1.00,1.00,1.00,-0.21,0.93,0.93,0.93,0.93,-0.19,0.95,0.95,0.95,0.95,-0.09,0.42,0.42,0.42,0.42,0.08
apple_low,1.00,1.00,1.00,1.00,-0.22,0.93,0.93,0.93,0.93,-0.20,0.95,0.96,0.95,0.95,-0.10,0.42,0.43,0.42,0.42,0.08
apple_close,1.00,1.00,1.00,1.00,-0.22,0.93,0.93,0.93,0.93,-0.19,0.95,0.95,0.95,0.95,-0.09,0.42,0.43,0.42,0.42,0.08
apple_volume,-0.22,-0.21,-0.22,-0.22,1.00,-0.16,-0.16,-0.17,-0.16,0.57,-0.29,-0.29,-0.30,-0.30,0.50,-0.41,-0.41,-0.43,-0.42,0.28
amazon_open,0.93,0.93,0.93,0.93,-0.16,1.00,1.00,1.00,1.00,-0.12,0.86,0.87,0.86,0.87,-0.08,0.54,0.54,0.54,0.54,-0.03
amazon_high,0.93,0.93,0.93,0.93,-0.16,1.00,1.00,1.00,1.00,-0.11,0.86,0.87,0.86,0.86,-0.07,0.53,0.54,0.53,0.53,-0.03
amazon_low,0.93,0.93,0.93,0.93,-0.17,1.00,1.00,1.00,1.00,-0.14,0.87,0.87,0.87,0.87,-0.09,0.55,0.55,0.55,0.55,-0.04
amazon_close,0.93,0.93,0.93,0.93,-0.16,1.00,1.00,1.00,1.00,-0.12,0.86,0.87,0.86,0.87,-0.08,0.54,0.54,0.54,0.54,-0.03
amazon_volume,-0.19,-0.19,-0.20,-0.19,0.57,-0.12,-0.11,-0.14,-0.12,1.00,-0.22,-0.22,-0.23,-0.22,0.61,-0.25,-0.25,-0.27,-0.26,0.23
google_open,0.95,0.95,0.95,0.95,-0.29,0.86,0.86,0.87,0.86,-0.22,1.00,1.00,1.00,1.00,-0.12,0.42,0.42,0.42,0.42,0.08
google_high,0.95,0.95,0.96,0.95,-0.29,0.87,0.87,0.87,0.87,-0.22,1.00,1.00,1.00,1.00,-0.12,0.42,0.42,0.42,0.42,0.08
google_low,0.95,0.95,0.95,0.95,-0.30,0.86,0.86,0.87,0.86,-0.23,1.00,1.00,1.00,1.00,-0.13,0.42,0.43,0.43,0.42,0.07
google_close,0.95,0.95,0.95,0.95,-0.30,0.87,0.86,0.87,0.87,-0.22,1.00,1.00,1.00,1.00,-0.13,0.42,0.42,0.42,0.42,0.07
google_volume,-0.09,-0.09,-0.10,-0.09,0.50,-0.08,-0.07,-0.09,-0.08,0.61,-0.12,-0.12,-0.13,-0.13,1.00,-0.21,-0.19,-0.23,-0.21,0.28
uber_open,0.42,0.42,0.42,0.42,-0.41,0.54,0.53,0.55,0.54,-0.25,0.42,0.42,0.42,0.42,-0.21,1.00,1.00,1.00,0.99,-0.23
uber_high,0.43,0.42,0.43,0.43,-0.41,0.54,0.54,0.55,0.54,-0.25,0.42,0.42,0.43,0.42,-0.19,1.00,1.00,1.00,1.00,-0.20
uber_low,0.42,0.42,0.42,0.42,-0.43,0.54,0.53,0.55,0.54,-0.27,0.42,0.42,0.43,0.42,-0.23,1.00,1.00,1.00,1.00,-0.25
uber_close,0.42,0.42,0.42,0.42,-0.42,0.54,0.53,0.55,0.54,-0.26,0.42,0.42,0.42,0.42,-0.21,0.99,1.00,1.00,1.00,-0.22
uber_volume,0.08,0.08,0.08,0.08,0.28,-0.03,-0.03,-0.04,-0.03,0.23,0.08,0.08,0.07,0.07,0.28,-0.23,-0.20,-0.25,-0.22,1.00

In [ ]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [ ]:
closes = [col for col in df.columns if col.endswith("close")]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [ ]:
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2017-04-04        34.17        906.83        852.57         NaN
2017-04-05        34.00        909.28        848.91         NaN
2017-04-06        33.91        898.28        845.10         NaN
2017-04-07        33.83        894.88        842.10         NaN
2017-04-10        33.79        907.04        841.70         NaN
...                 ...           ...           ...         ...
2022-03-28       175.60       3379.81       2829.11       34.77
2022-03-29       178.96       3386.30       2850.11       37.19
2022-03-30       177.77       3326.02       2838.77       36.58
2022-03-31       174.61       3259.95       2781.35       35.68
2022-04-01       174.31       3271.20       2803.01       35.98

[1259 rows x 4 columns]

In [ ]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.93          0.95        0.42
amazon_close         0.93          1.00          0.87        0.54
google_close         0.95          0.87          1.00        0.42
uber_close           0.42          0.54          0.42        1.00

In [ ]:
closes = [col for col in df.columns if col.endswith("close") or col.endswith("volume")]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [ ]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.22,0.93,-0.19,0.95,-0.09,0.42,0.08
apple_volume,-0.22,1.00,-0.16,0.57,-0.30,0.50,-0.42,0.28
amazon_close,0.93,-0.16,1.00,-0.12,0.87,-0.08,0.54,-0.03
amazon_volume,-0.19,0.57,-0.12,1.00,-0.22,0.61,-0.26,0.23
google_close,0.95,-0.30,0.87,-0.22,1.00,-0.13,0.42,0.07
google_volume,-0.09,0.50,-0.08,0.61,-0.13,1.00,-0.21,0.28
uber_close,0.42,-0.42,0.54,-0.26,0.42,-0.21,1.00,-0.22
uber_volume,0.08,0.28,-0.03,0.23,0.07,0.28,-0.22,1.00

**Metoda append()**

In [ ]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-04-01      35.68      36.48     35.40       35.98     16793293
2022-03-31      36.50      36.73     35.37       35.68     20608652
2022-03-30      36.66      37.09     36.20       36.58     22306544
2022-03-29      35.57      37.45     35.57       37.19     37969049
2022-03-28      34.14      34.91     33.73       34.77     22175227

In [ ]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[64 rows x 5 columns]

In [ ]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-07-30      44.38      44.73     43.34       43.46     22194938
2021-07-29      44.12      45.21     44.00       44.69     51033697
2021-07-28      45.88      46.96     45.81       46.14     19510262
2021-07-27      46.54      46.66     44.77       45.82     16874229
2021-07-26      47.04      47.60     46.37       46.81     12497997
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[65 rows x 5 columns]

In [ ]:
uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[129 rows x 5 columns]

In [ ]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[129 rows x 5 columns]